meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
//- link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')

link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css")
link(rel='stylesheet' href='/public/bootstrap-sweetalert/dist/sweetalert.css')

script(src='/public/jquery/dist/jquery.min.js')
script(src='/public/angular/angular.min.js')

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

script(src='/public/bootstrap/dist/js/bootstrap.min.js')
script(src='/public/bootstrap-sweetalert/dist/sweetalert.min.js')
script(src='/public/javascripts/notify.js')
