extends layout

block title
  title Etherpad ESPE · Pads    

block content
  .container(ng-app="pads" ng-controller="main" ng-init="init()")
    h1 Pads

    #btn-group.btn-group
      button.btn.btn-secondary(data-toggle="modal" data-target="#padModal")
        i.fa.fa-plus

    .pads(ng-repeat="x in pads")
      .item
        h3 {{ x.title }}
        p.info #[i.fa.fa-clock-o] Creada en {{ x.creation | date:"medium" }}
        p {{ x.description }}
        .btn-group.btn-group-sm(role="group")
          a.btn.btn-dark(type="button" ng-href=`pad/{{x._id}}`): li.fa.fa-eye
          button.btn.btn-dark(type="button" data-toggle="modal"
          ng-click=`shareThis('${etherpad.host}', '${etherpad.port}', x._id)`
          data-target="#sharemodal"): li.fa.fa-share
          button.btn.btn-dark(type="button"
            ng-click="delete(x._id, x.title)"): li.fa.fa-trash

    #padModal.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        form.modal-content(ng-submit="submit()")
          .modal-header
            h5.modal-title {{ pad._id ? "Editar" : "Nuevo pad"}}
            button.close(type="button" data-dismiss="modal"): span &times;
          .modal-body
            .form-group
              input.form-control(placeholder="Ingrese un nombre para el pad"
              ng-model="pad.title" required)
            .form-group
              textarea.form-control(rows="3" ng-model="pad.description"
                placeholder="Ingrese una descripción del pad.")
          .modal-footer
            button.btn.btn-primary Guardar


    #sharemodal.modal.fade(tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Compartir pad
            button.close(type="button" data-dismiss="modal"): span ×
          .modal-body
            p.

              Porfavor compartir el siguiente enlace para conceder
              accesos de escritura y lectura.

            .form-group
              input.form-control(ng-model="share")
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar


block scripts
  script(src="/public/javascripts/pads.js")
