doctype html
html
  head

    include head

    block title
      title Esto no es un Easter Egg

  body
    #page
      // div (style='width: 244px;')
      #na
        #navigator
          p.title Espepad
          p.small.text-center #{user.name}

          nav
            a(href='/' class=navPads) #[i.fa.fa-book] Pads
            a(href='/config' class=navConfig) #[i.fa.fa-cog] Configuraciones
            a(href='/logout') #[i.fa.fa-sign-out] Cerrar Sesión

      #content
        block content

    block scripts
      
