doctype html
html
  head
    include head
    script(src='/public/javascripts/facebook.js')
    title Iniciar Sesión

  body.body-authentication
    .container(ng-app='authentication' ng-controller='login')

      .info
        h1 Espepad

      .form-container
        form(ng-submit='submit()')
          .form-group
            .input-group
              .input-group-addon: li.fa.fa-user
              input.form-control(type='text' placeholder='Nombre de usuario'
              ng-model='user.username' required)
            
          .form-group
            .input-group
              .input-group-addon: li.fa.fa-lock
              input.form-control(type='password' placeholder='Contraseña'
              ng-model='user.password' required)
          

          button.btn.btn-primary.btn-block Iniciar Sesión
          p.message No estás registrado? #[a(href='/signup') Crear cuenta]

        p.separation #[span o]

        button.btn.btn-secondary.btn-block(role='button' ng-click='fbLogin()').
          #[i.fa.fa-facebook-official] Entrar con Facebook

    script(src='/public/javascripts/authentication.js')
