extends layout

block title
  title Etherpad ESPE · Pads    

block content
  style.
    #content {
    padding: 0px;
    }

  iframe(style="border:none;width:100%;height: calc(100vh - 10px);"
  src=`http://${etherpad.host}:${etherpad.port}/p/${pad}`)
