doctype html
html
  head
    include head
    title Registro

  body.body-authentication
    .container(ng-app='authentication' ng-controller='signup')

      .info
        h1 Etherpad ESPE

      form.form-container(ng-submit='submit()')
        .form-group(ng-class='v.user.class')
          label.form-control-label Usuario
          input.form-control(type='text' ng-model='user.username' required
          placeholder='Nombre de usuario' ng-change='v.user.change()')
          .form-control-feedback(
            ng-show='v.user.class === \"has-danger\"').
            Ese usuario ya ha sido registrado
        .form-group(ng-class='v.password.class')
          label.form-control-label Contraseña
          input.form-control(type='password' ng-model='user.password'
          placeholder='Contraseña' ng-change='v.password.change()'
          required)
        .form-group(ng-class='v.password.class')
          label.form-control-label Repetir contraseña
          input.form-control(type='password' required
          placeholder='Contraseña' ng-change='v.password.change()'
          ng-model='user.passwordRepeat')
          .form-control-feedback(
            ng-show='v.password.class === \"has-danger\"').
            Las contraseñas no coinciden
        .form-group
          label Nombre
          input.form-control(type='text' ng-model='user.name'
          placeholder='Nombre Completo' required)
        .form-group
          label Correo electrónico
          input.form-control(type='email' ng-model='user.email'
          placeholder='Correo electrónico' required)
        .form-group
          p.message.
            Al registrarse automáticamente esta aceptado los
            #[a(href='#') términos y condiciones] del uso de este
            servicio.

        button.btn.btn-primary.btn-block(ng-disabled="disabledButton").
          Registrarse

    script(src='/public/javascripts/authentication.js')
